IE Portrait Manager/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="InfinityEngineConfigSection" elementFormDefault="qualified" targetNamespace="InfinityEngineConfigSection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="InfinityEngineGameSettings" type="tns:IE_Portrait_Manager.ConfigSections.InfinityEngineGameSettingsCT" />
	<xs:complexType name="IE_Portrait_Manager.ConfigSections.InfinityEngineGamesCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Game" type="tns:IE_Portrait_Manager.ConfigSections.GameCT">
				<xs:annotation>
					<xs:documentation>A collection of Portrait instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IE_Portrait_Manager.ConfigSections.InfinityEngineGameSettingsCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="Games" type="tns:IE_Portrait_Manager.ConfigSections.InfinityEngineGamesCollectionCT">
				<xs:annotation>
					<xs:documentation>The Games.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IE_Portrait_Manager.ConfigSections.GameCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Portrait" type="tns:IE_Portrait_Manager.ConfigSections.PortraitCT">
				<xs:annotation>
					<xs:documentation>The Portrait Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IE_Portrait_Manager.ConfigSections.PortraitCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="size" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Size.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Height.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Width.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="actualHeight" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ActualHeight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="actualWidth" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ActualWidth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="imageFormat" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ImageFormat.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
